<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<!-- this registers beans annotated with @Aspect -->
	<aop:aspectj-autoproxy />
	<import resource="db-services.xml"/>
	<bean id="systemlogger" class="org.bigtester.ate.systemlogger.GenericSystemLogger" /> 
	<bean id="TestCaseLogger" class="org.bigtester.ate.systemlogger.GenericTestCaseLogger">
		<property name="currentTestCase" ref="testcase" />
		<!-- <property name="currentWebDriver" ref="MyFirefoxWebDriver"/> -->
	</bean>
	<bean id="TestStepResult" class="org.bigtester.ate.resultmaker.StepResultMaker" />

	<bean id="MyFirefoxWebDriver"
		class="org.bigtester.ate.model.page.atewebdriver.MyFirefoxDriver" />
	<bean id="testcase" name="testcase2name"
		class="org.bigtester.ate.model.casestep.TestCase">
		<property name="testCaseName" value="testcase name" />
		<property name="testStepList">
			<list>
				<ref bean="homestep" />
				<ref bean="step1" />
				<ref bean="step2" />
				<ref bean="laststep" />
			</list>
		</property>
	</bean>
	
	<bean id="_PageObjModel" name="_PageObjModel" abstract="true"
		class="org.bigtester.ate.model.page.AbstractPageModelBase">
		<property name="myWd">
			<ref bean="MyFirefoxWebDriver"></ref>
		</property>
	</bean>
	<bean id="dataValueAbstract" name="dataValueAbstract" abstract="true"
		class="org.bigtester.ate.model.data.AbstractDataValue">
		<property name="elementDataDao" ref="elementInputDataDao"/>
	</bean>
	<!-- abstract beans, won't be initialized by Spring -->
	<bean id="efAbstract" name="efAbstract" abstract="true" 
		class="org.bigtester.ate.model.page.elementfind.AbstractElementFind">
	</bean>
	<bean id="eaAbstract" name="eaAbstract" abstract="true" 
		class="org.bigtester.ate.model.page.elementaction.AbstractElementAction">
	</bean>

	<!-- homestep definition -->
	<bean id="homestep" class="org.bigtester.ate.model.casestep.HomeStep">
		<property name="homepg">
			<ref bean="myHomepage" />
		</property>
		<property name="stepName" value="homestep" />
		<property name="stepDescription" value="open homepage" />
	</bean>
	<bean id="myHomepage" name="myHomepage" parent="_PageObjModel"
		class="org.bigtester.ate.model.page.page.Homepage">
		<property name="homeUrl" value="http://www.bigtester.com" />
	</bean>
	<!-- laststep definition -->
	<bean id="laststep" class="org.bigtester.ate.model.casestep.LastStep">
		<property name="lastPage">
			<ref bean="myLastpage" />
		</property>
		<property name="stepName" value="laststep" />
		<property name="stepDescription" value="closeBrowser" />
	</bean>
	<bean id="myLastpage" name="myLastpage" parent="_PageObjModel"
		class="org.bigtester.ate.model.page.page.Lastpage">
	</bean>

	<!-- step1 definition -->
	<bean id="step1" class="org.bigtester.ate.model.casestep.ElementTestStep">
		<constructor-arg ref="myWe1"></constructor-arg>

		<property name="stepName" value="step1" />
		<property name="targetStep">
			<value type="java.lang.Boolean">true</value>
		</property>
		<property name="stepDescription" value="input user name" />
	</bean>
	<bean id="myWe1" name="myWe1" parent="_PageObjModel"
		class="org.bigtester.ate.model.page.page.MyWebElement">
		<constructor-arg ref="ef1"></constructor-arg>
		<constructor-arg ref="ea1"></constructor-arg>
	</bean>
	<bean id="ef1" name="ef1" parent="efAbstract"
		class="org.bigtester.ate.model.page.elementfind.ElementFindById">
		<property name="findByValue" value="modlgn_username" />
	</bean>

	<bean id="ea1" name="ea1" parent="eaAbstract"
		class="org.bigtester.ate.model.page.elementaction.SendKeysAction">
		<property name="dataValue">
		<ref bean="usernameValue"/>
		</property>
	</bean>
	<bean id="usernameValue" name="usernameValue" parent="dataValueAbstract"
		class="org.bigtester.ate.model.data.StepDataValue">
		<property name="dataValueID" >
		<value type="java.lang.Long">65</value>
		</property>
	</bean>
	<!-- step2 definition -->
	<bean id="step2" class="org.bigtester.ate.model.casestep.ElementTestStep">
		<constructor-arg ref="myWe2"></constructor-arg>
		<property name="stepName" value="step2" />
		<property name="stepDescription" value="fill password" />
	</bean>
	<bean id="myWe2" name="myWe2" parent="_PageObjModel"
		class="org.bigtester.ate.model.page.page.MyWebElement">
		<constructor-arg ref="ef2"></constructor-arg>
		<constructor-arg ref="ea2"></constructor-arg>
	</bean>
	<bean id="ef2" name="ef2" parent="efAbstract"
		class="org.bigtester.ate.model.page.elementfind.ElementFindById">
		<property name="findByValue" value="modlgn_passwd" />
	</bean>

	<bean id="ea2" name="ea2" parent="eaAbstract"
		class="org.bigtester.ate.model.page.elementaction.SendKeysAction">
		<property name="dataValue">
		<ref bean="usernameValue2"/>
		</property>
	</bean>
	
	<bean id="usernameValue2" name="usernameValue2" parent="dataValueAbstract"
		class="org.bigtester.ate.model.data.StepDataValue">
		<property name="dataValueID" >
		<value type="java.lang.Long">66</value>
		</property>
	</bean>

</beans>